.input {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 0px #9fb4f2;
  background-color: transparent;
  border: 3px solid #0a313b;
  display: inline-block;
  color: #000000;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  padding: 16px 500px;
  text-decoration: none;
  text-shadow: 2px -1px 50px #283966;
  text-align: center;
}

.input :hover {
  background-color: transparent;
}

.input :active {
  position: relative;
  top: 1px;
}

.submit {
  top: 12%;
  left: 47%;
  transform: translate(-10%, 50%);
  position: absolute;
  box-shadow: inset 0px 0px 20px 1px #a6827e;
  background-color: #0a313b;
  border: 3px #a37d5b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 22px;
  padding: 12px 45px;
  text-decoration: none;
  text-shadow: 0px 0px 11px #57302f;
}

.submit:hover {
  background-color: #0f0a3b;
}
.submit:active {
  position: absolute;
}

.box {
  left: 80%;
  top: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 50px;
  text-align: center;
  border-bottom: 4px solid #0a313b;
  border-top: 4px solid #0a313b;
  padding-bottom: 30px;
}

.name {
  top: 20%;
  left: 70%;
  color: #0a3b14;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-align: center;

  border: 2px solid, #0a313b;
}

.box1 {
  left: 80%;
  top: 46%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 250px;
  height: 100px;
  border-bottom: 3px solid #0a313b;
  text-align: left;
}
.age {
  top: 48%;
  left: 70%;
  transform: translate(-2%, 200%);
  padding: 0.8%;
  color: #166b80;
  font-size: 25px;
  font-family: Impact;
  text-align: center;
}
.box2 {
  left: 80%;
  top: 52%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 250px;
  height: 100px;
  border-bottom: 3px solid #0a313b;
  text-align: left;
}

.countries {
  top: 54%;
  left: 45%;
  transform: translate(-2%, 200%);
  text-align: center;
  padding: 0.8%;
  color: #166b80;
  font-size: 25px;
  font-family: Impact;
}

.box3 {
  left: 80%;
  top: 58%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 250px;
  height: 100px;
  border-bottom: 3px solid #0a313b;
  text-align: left;
}

.gender {
  top: 56%;
  left: 75%;
  transform: translate(-2%, 200%);
  padding: 0.8%;
  color: #166b80;
  font-size: 25px;
  font-family: Impact;
  text-align: center;
}

.map {
  position: absolute;
  top: 7%;
}
